body {
    margin-bottom: 0%;
}

.container {
    margin-bottom: 6%;
}


.img-logo {
    width: 20%;
    height: auto;
    margin-right: 10px;

}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 50px;
}

.top-color {
    background-color: #EBF5E1;
}

.mr {
    margin-bottom: 40px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 25px;
}

.color {
    color: red;
}

.highlight {
    color: #4CAF50;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

h2{
    font-size: 50px;
    font-weight: 700;
}

p {
    color: rgb(99, 94, 94);
}

.card-img-top-first {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    margin-right: 40%;
    margin-bottom: 05%;
}

.card-icon {
    border: none;
    background-color: #f0f4ed;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10%;
    padding-top: 10%;
}

.for-this {
    border: none;
    box-shadow: 5px 5px 20px lightgray;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10%;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-img-top {
    width: 90%;
    margin: 5%;
}

.footer-icon {
    width: 8%;
    margin: 2%;
}

.footer-inline {
    margin-bottom: 08%;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: rgb(114, 108, 108);
}

.man {
    width: 120px;
    margin-left: 20%;
}

.middle {
    align-items: center;
    display: flex;
}

.h6 {
    margin-left: 3%;
    line-height: 1.5;
}

.last-color {
    background-color: #292525;
    margin-bottom: -6%;
}

.footer-t {
    color: #EBF5E1;
    margin-bottom: 20px;
    text-align: center;
    display: inline-flex;
    margin-top: 05%;
    text-align: left;
}

footer {
    color: #EBF5E1;
    padding-bottom: 20px;
    text-align: center;
}

.p {
    color: #EBF5E1;
}

.col{
    text-align: left;
}